<html>
        <head>
            <title>Some HTML in here</title>
        </head>
        <body>
            <table style="width: 600px">
                <tr>
                    <th style="width: 50%">Product</th>
                    <th style="width: 50%">Similarity Score</th>
                </tr>
                {% for product in response %}
                <tr>
                    <td style="text-align: center">{{ product[0] }}</td>
                    <td style="text-align: center">{{ product[1] }}</td>
                </tr>
                {% endfor %}
                </table>
        </body>
    </html>